.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px; /* Adjust the height as needed */
    background-color: #626262;
    display: flex;
    align-items: stretch; /* Ensure children stretch to the full height */
    border-top: #007acc 3px solid;
    z-index: 1000;
}

.buttons-container {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    max-width: 80%;
}

.button {
    flex: 1; /* Ensure buttons take equal width */
    height: 100%; /* Match the height of the bottom bar */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    background-color: #007acc; /* Default color */
    margin-left: -20px;
    clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 50%, calc(100% - 20px) 100%, 0 100%, 20px 50%);
    transition: filter 0.2s ease-in-out;
    gap: 8px;
}

.bottom-icon {
  width: 18px;
  height: 18px;
  flex: 0 0 18px;
}

.button:hover {
    filter: brightness(1.1);
}

.label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.button:first-child {
    clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 50%, calc(100% - 20px) 100%, 0 100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left:0px;
}

.bottom-icon {
  width: 18px;
  height: 18px;
}
