.tab-bar {
    height: 30px;
    background-color: #313131;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    position: fixed;
    padding: 0;
    display: flex;
    align-items: center;
    z-index: 1000;
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Prevent vertical scrolling */
    white-space: nowrap; /* Prevent tabs from wrapping to a new line */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.tab-bar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.tab {
    height: 20px;
    padding: 8px 16px;
    cursor: pointer; 
}

.tab.active {
    background-color: #007acc;
}

.close-btn:hover {
    color: red;
}