.experiences-container {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    padding: 20px;
    font-family: 'Fira Code', monospace;
    color: #dcdcdc;
    background-color: #1e1e1ea9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: auto;
}

.experiences-container.visible {
    opacity: 1;
    transform: translateY(0);
}

.page-title {
    text-align: center;
    font-size: 2rem;
    color: #61dafb;
    margin-bottom: 1rem;
}

.experiences-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.experience-card {
    display: flex;
    align-items: center;
    background: #252526;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.experience-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.card-left {
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-image {
    width: 100%;
    max-width: 180px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.card-right {
    flex: 1;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.experience-title {
    font-size: 1.0rem;
    color: #4fc3f7;
    font-weight: bold;
    margin: 0.1rem;
}

.experience-position {
    font-size: 0.9rem;
    color: #ececec;
    margin: 0.1rem;
}

.experience-details {
    padding: 0;
    list-style-type: none;
}
.experience-description {
    font-size: 0.8rem;
    color: #b0b0b0;
    margin-bottom: 5px;
}

.experience-years {
    font-size: 0.7rem;
    color: #888888;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
